@media (max-width: 767px) {
 
  .page-header {
    background-image: url(../images/bgrd-mobile-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 540px;
  }
 
}

@media (min-width: 768px) {
  .page-header {
    background-image: url(../images/bgrd-tablet-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
  }

  .logo {
    text-align: left;
  }

  .header-tittle {
    font-size: 52px;
  }

  .header-text {
    font-size: 24px;
  }  

  .header-button {
    width: 225px;
  }
}

@media (min-width: 940px) {
  .page-header {
    background-image: url(../images/bgrd-desktop-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
}