* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.logo-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.registration-list {
  list-style: none;
  width: 155px;
}

.reg-list-item::first-letter {
  text-transform: uppercase;
}

.registration-item-link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.sign-up {
  border: solid 2px;
  border-color: #ffffff;
  border-radius: 20px;
}

.header-tittle {
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 1.2;
  text-align: center;
}

.header-text {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}

.header-button {
  width: 280px;
  height: 40px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  background-color: #ff4e50;
  border-radius: 20px;
  border: none;
}

.partner-tittle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  padding: 72px 0 20px;
  color: #333333;
}

.partners-name {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #333333;
}

.parnters-description {
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}

.partners-image {
  position: relative;
  display: block;
  width: 121px;
  height: 121px;
}

.hunter::after {
  display: block;
  content: "";
  width: 41px;
  height: 41px;
  background-image: url(../images/icons/tv-min.jpg);
  background-position: center;
  position: absolute;
  border-radius: 41px;
  right: 0;
  bottom: 0;
}

.lucas::after {
  display: block;
  content: "";
  width: 41px;
  height: 41px;
  background-image: url(../images/icons/colb-min.jpg);
  background-position: center;
  position: absolute;
  border-radius: 41px;
  right: 0;
  bottom: 0;
}

.heather::after {
  display: block;
  content: "";
  width: 41px;
  height: 41px;
  background-image: url(../images/icons/cup-min.jpg);
  background-position: center;
  position: absolute;
  border-radius: 41px;
  right: 0;
  bottom: 0;
}

.bradley::after {
  display: block;
  content: "";
  width: 41px;
  height: 41px;
  background-image: url(../images/icons/tgram-min.png);
  background-position: center;
  position: absolute;
  border-radius: 41px;
  right: 0;
  bottom: 0;
}

.main-button {
  width: 280px;
  height: 40px;
  border-radius: 20px;
  border:solid 2px #ff4e50;;
  color: #ff4e50;
  background: transparent;
  margin-bottom: 55px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

