.page-footer {
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 12px;
}

.page-footer::before {
  display: block;
  width: 1201px;
  height: 1px;
  content: "";
  background-color: $footer-staff-color;
  margin-bottom: 10px;
}

.page-footer__text {
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  color: $main-text-color;
}

.page-footer__text span {
  color: $tittle-underline-color;
}

.input {
  display: flex;
}

.email-input {
  padding-left: 10px;
  width: 230px;
  height: 40px;
  font-family: $secondary-font;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  border-color: $footer-staff-color;
  border-width: 1px;
}

.button--footer {
  @extend %button;
  width: 150px;
  background-color: #95e1d3;
  transition: background-color 0.2s linear;
  border: none;
}

.button--footer:hover {
  background-color: $tittle-underline-color;
}