.section__tittle {
  @extend %tittle;
  font-size: 30px;
  padding-bottom: 65px;
  color: $main-text-color;
}

.section__tittle::after {
  display: block;
  background: $tittle-underline-color;
  content: "";
  width: 60px;
  height: 3px;
  margin: 40px auto 0;
}

.section__intro {
  margin: 0;
  @extend %intro;
  font-size: 24px;
  color: $main-text-color;
  padding-bottom: 18px;
  text-transform: lowercase;
}

.section__intro::first-letter {
  text-transform: uppercase;
}
