* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1201px;
  margin: 0 auto;
}

.page-header {
  padding-bottom: 125px;
}

.navigation {
  align-self: flex-start;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.site-navigation {
  width: 491px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.logo-link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #95e1d3;
  transition: color 0.2s linear;
}

.logo-link:hover {
  color: #f38181
}

.navigation-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #95e1d3;
  transition: color 0.2s linear;
}

.navigation-item:hover .navigation-link {
  color: #f38181
}

.navigation-item::after {
  display: block;
  background: #f38181;
  content: "";
  min-width: 40px;
  height: 3px;
  margin-top: 12px;
  opacity: 0;
  transform: rotateY(90deg);
  transition: opacity, transform 0.2s linear
}

.navigation-item:hover::after {
  opacity: 1;
  transform: rotateY(180deg);
}

.services, .team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  display: block;
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 18px;
  color: #333333;
}

.intro::first-letter {
  text-transform: uppercase;
}

.section-tittle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  padding-bottom: 65px;
  color: #333333;
  text-align: center;
}

.section-tittle::after {
  display: block;
  background: #f38181;
  content: "";
  width: 60px;
  height: 3px;
  margin: 40px auto 0;
}

.service-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 90px;
}

.service-item:not(:nth-last-child(-n+3)) {
  padding-bottom: 100px;
}

.service-item {
  flex-basis: 382px;
  padding-left: 82px;
}

.service-item-tittle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
}

.service-item-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.photography {
  background-image: url(../img/service/clock.png);
  background-repeat: no-repeat;
}

.web-design {
  background-image: url(../img/service/graph.png);
  background-repeat: no-repeat;
}

.creativity {
  background-image: url(../img/service/pc.png);
  background-repeat: no-repeat;
}

.seo {
  background-image: url(../img/service/book.png);
  background-repeat: no-repeat;
}

.css {
  background-image: url(../img/service/home.png);
  background-repeat: no-repeat;
}

.digital {
  background-image: url(../img/service/image.png);
  background-repeat: no-repeat;
}

.team-description {
  width: 1000px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  text-align: center;
  margin-bottom: 85px;
}

.team-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.team-member-card {
  position: relative;
  transition: transform 0.2s linear;
}

.team-member:hover .team-member-card {
  transform: translate(-10px, -10px)
}

.team-member-card-bottom {
  background: #95e1d3;
  margin-bottom: 30px;
}

.overlay {
  background-image: linear-gradient(
    rgba(243, 129, 129, 0.8), rgb(251, 226, 135, 0.8)
  );
  width: 380px;
  height: 470px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.team-member:hover .overlay {
  opacity: 1;
}


.socials {
  display: flex;
  list-style: none
}

.social-item {
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.2s linear;
  background-color: #fce38a;
}

.social-item:hover {
  background-color: #95e1d3;;
}

.social-item:not(:last-child) {
  margin-right: 1px;
}

.facebook {
  background-image: url(../img/team/socials/facebook.png);
}

.twitter {
  background-image: url(../img/team/socials/twitter.png);
}

.p-interest {
  background-image: url(../img/team/socials/pinterest.png);
}

.instagram {
  background-image: url(../img/team/socials/instagram.png)
}

.team-member-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  padding-bottom: 15px;
}

.team-member-speciality {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  text-align: center;
  text-transform: capitalize;
}

.team {
  padding-bottom: 85px;
}

.page-footer {
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 12px;
}

.page-footer::before {
  display: block;
  width: 1201px;
  height: 1px;
  content: "";
  background-color: #e5e5e5;
  margin-bottom: 10px;
}

.footer-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.footer-text span {
  color: #f38181;
}

.input {
  display: flex;
}

.email-input {
  padding-left: 10px;
  width: 230px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  border-color: #e5e5e5;
  border-width: 1px;
}

.subscribe-button {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  transition: background-color 0.2s linear;
  border: none;
}

.subscribe-button:hover {
  background-color: #f38181;
}