* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1201px;
  margin: 0 auto;
}

.page-header {
  height: 1000px;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}

.navigation {
  -ms-flex-item-align: start;
      align-self: flex-start;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.site-navigation {
  width: 491px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.logo-link:hover {
  color: #fce38a
}

.navigation-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.navigation-item:hover .navigation-link {
  color: #fce38a
}

.navigation-item::after {
  display: block;
  background: #fce38a;
  content: "";
  min-width: 40px;
  height: 3px;
  margin-top: 12px;
  opacity: 0;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transition: opacity, -webkit-transform 0.2s linear;
  transition: opacity, -webkit-transform 0.2s linear;
  -o-transition: opacity, transform 0.2s linear;
  transition: opacity, transform 0.2s linear;
  transition: opacity, transform 0.2s linear, -webkit-transform 0.2s linear
}

.navigation-item:hover::after {
  opacity: 1;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.section-tittle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.section-tittle--header {
  color:  #ffffff;
  font-size: 150px;
  line-height: 140px;
  padding: 170px 190px 125px;
}

.intro {
  display: block;
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
}

.intro--header {
  color:  #ffffff;
  font-size: 72px;
}

.header-button {
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 40px;
  border: 3px solid #ffffff;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.services, .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro--main {
  font-size: 24px;
  color: #333333;
  padding-bottom: 18px;
}

.intro::first-letter {
  text-transform: uppercase;
}

.section-tittle--main {
  font-size: 30px;
  padding-bottom: 65px;
  color: #333333;
}

.section-tittle--main::after {
  display: block;
  background: #f38181;
  content: "";
  width: 60px;
  height: 3px;
  margin: 40px auto 0;
}

.service-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 90px;
}

.service-item:not(:nth-last-child(-n+3)) {
  padding-bottom: 100px;
}

.service-item {
  -ms-flex-preferred-size: 382px;
      flex-basis: 382px;
  padding-left: 82px;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.service-item:hover::after {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.service-item-tittle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
}

.service-item-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.photography::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  z-index: 1;
  background-image: url(../img/service/clock.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.web-design::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  z-index: 1;
  background-image: url(../img/service/graph.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.creativity::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  z-index: 1;
  background-image: url(../img/service/pc.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.seo::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  z-index: 1;
  background-image: url(../img/service/book.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.css::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  z-index: 1;
  background-image: url(../img/service/home.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.digital::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  z-index: 1;
  background-image: url(../img/service/image.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.team-description {
  width: 1000px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  text-align: center;
  margin-bottom: 85px;
}

.team-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-member-card {
  position: relative;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.team-member:hover .team-member-card {
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px)
}

.team-member-card-bottom {
  background: #95e1d3;
  margin-bottom: 30px;
}

.overlay {
  background-image: -webkit-gradient(
    linear, left top, left bottom, from(rgba(243, 129, 129, 0.8)), to(rgb(251, 226, 135, 0.8))
  );
  background-image: -o-linear-gradient(
    rgba(243, 129, 129, 0.8), rgb(251, 226, 135, 0.8)
  );
  background-image: linear-gradient(
    rgba(243, 129, 129, 0.8), rgb(251, 226, 135, 0.8)
  );
  width: 380px;
  height: 470px;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.team-member:hover .overlay {
  opacity: 1;
}


.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none
}

.social-item {
  display: block;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  background-color: #fce38a;
}

.social-item:hover {
  background-color: #f38181;
}

.social-item:hover .social-link svg {
  fill: #ffffff;
}

.social-link svg {
  display: block;
  width: 100%;
  height: 32px;
  fill: #f38181;
}

.social-item:not(:last-child) {
  margin-right: 1px;
}

.team-member-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  padding-bottom: 15px;
}

.team-member-speciality {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  text-align: center;
  text-transform: capitalize;
}

.team {
  padding-bottom: 85px;
}

.page-footer {
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 12px;
}

.page-footer::before {
  display: block;
  width: 1201px;
  height: 1px;
  content: "";
  background-color: #e5e5e5;
  margin-bottom: 10px;
}

.footer-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.footer-text span {
  color: #f38181;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email-input {
  padding-left: 10px;
  width: 230px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  border-color: #e5e5e5;
  border-width: 1px;
}

.subscribe-button {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  border: none;
}

.subscribe-button:hover {
  background-color: #f38181;
}