* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1110px;
  margin: auto;
} 
.navigation {
  height: 90px;
  padding-top: 35px;
}
.company {
  display: inline-block;
  margin-right: 555px;
  
}
.company-link {
  text-decoration: none;
  font-size: 30px;
  line-height: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #555252;
}
.company::first-letter{
  font-family: "roboto", sans-serif;
  font-weight: 900;
  color: #1abc9c;
}
.navigation-menu {
  display: inline-block;
}
.navigation-menu-item {
  display: inline-block;
  font-size: 0;
}
.menu-item-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 11px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #0f0101;
}
.navigation-menu-item:not(:last-child) {
  margin-right: 25px;
}
.menu-item-link:hover {
  color: #1abc9c;
}
.slider {
  margin-bottom: 100px;
}
.slider-item {
  height: 600px;
  list-style: none;
  background-image:
  linear-gradient(to top, rgba(0, 0, 2, 0.52), rgba(0, 0, 2, 0.52)),
  url(../img/tour/tour-girls.jpg);
  background-size: cover;
  background-position: center;
}
.slider-item-menu button {
  background-color: rgb(78, 198, 171);
  opacity: 0.651;
  position: absolute;
  width: 104px;
  height: 104px;
  border: none;
}
.previous {
  top: 255px;
  left: 0;
}
.next {
  top: 225px;
  right : 0;
}
.slider-item-menu {
  position: relative;
  height: 600px;
}
.tour-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tour {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #ff7200;
  font-size: 60px;
  line-height: 82px;
}
.slider:hover .tour{
  color: #ffffff;
}
.tour-list-item {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 24px;
  line-height: 54px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.tour-list-item-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
.nc-tittle {
  font-family: 'roboto', sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  color: #515151;
  margin-bottom: 116px;
}
.nc-tittle::after {
  display: block;
  width: 165px;
  height: 7px;
  content: "";
  background: #1abc9c;
  margin: auto;
  margin-top: 32px;
}
.nc-item {
  display: inline-block;
  list-style: none;
  font-size: 0;
  width: 255px;
  height: 322px;
  margin-bottom: 102px;
  position: relative;
}
.nc-item :not(:last-child) {
  margin-right: 30px;
}
.nc-desription {
  font-family: 'roboto', sans-serif;
  font-weight: 900; 
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  height: 40px;
  padding-top: 4px;
  background-color: #323232;
  padding-left: 13px;
  width: 200px;
}
.nc-price {
  font-family: 'roboto', sans-serif;
  font-weight: 900; 
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  height: 40px;
  padding-top: 4px;
  width: 55px;
  text-align: center;
  background-color: #8c8c8c;
  position: absolute;
  top: 282px;
  left:200px;
}
.footer {
  background-color: #323232;
}
.footer-text {
  font-family: 'open sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}
.footer-text span {
  color: #1abc9c;
}