* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1110px;
  margin: auto;
} 
.navigation {
  height: 90px;
}
.company {
  display: inline-block;
  margin-right: 555px;
}
.company-link {
  text-decoration: none;
  font-size: 30px;
  line-height: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #555252;
}
.company::first-letter{
  font-family: "roboto", sans-serif;
  font-weight: 900;
  color: #1abc9c;
}
.navigation-menu {
  display: inline-block;
}
.navigation-menu-item {
  display: inline-block;
}
.menu-item-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 11px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #0f0101;
}
.navigation-menu-item:not(:last-child) {
  margin-right: 25px;
}
.menu-item-link:hover {
  color: #1abc9c;
}
.slider-item {
  width: 1600px;
  height: 600px;
  margin: auto;
  position: relative;
  background: url(../img/tour/tour-girls.jpg);
}
.slider-item button {
  background-color: rgb(78, 198, 171);
  opacity: 0.651;
  position: absolute;
  width: 104px;
  height: 104px;
  border: none;
}
.previous {
  top: 225px;
  left: 245px;
}
.next {
  top: 225px;
  right : 245px;
}
.slider-item-menu {
  width: 790px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tour {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #ff7200;
  font-size: 60px;
  line-height: 82px;
}
.slider:hover .tour{
  color: #ffffff;
}
.tour-list-item {
  display: inline-block;
}
.tour-list-item span {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 24px;
  line-height: 54px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.tour-list-item-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 24px;
  line-height: 54px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}