* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1110px;
  margin: 0 auto;
} 
.navigation {
  height: 90px;
  padding-top: 35px;
}
.company {
  display: inline-block;
  margin-right: 555px;
}
.company-link {
  text-decoration: none;
  font-size: 30px;
  line-height: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #555252;
}
.company::first-letter{
  font-family: "roboto", sans-serif;
  font-weight: 900;
  color: #1abc9c;
}
.navigation-menu {
  display: inline-block;
}
.navigation-menu-item {
  display: inline-block;
  font-size: 0;
}
.menu-item-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 11px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #0f0101;
}
.navigation-menu-item:not(:last-child) {
  margin-right: 25px;
}
.menu-item-link:hover, :focus {
  color: #1abc9c;
}
.slider-item {
  height: 600px;
  list-style: none;
  background-image:
  linear-gradient(to top, rgba(0, 0, 2, 0.52), rgba(0, 0, 2, 0.52)),
  url(../img/tour/tour-girls.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider-item-menu button {
  background-color: rgba(78, 198, 171, 0.651);
  position: absolute;
  width: 104px;
  height: 104px;
  border: none;
}
.slider-item-menu button img {
  margin: auto;
}
.previous {
  top: 225px;
  left: 0;
}
.next {
  top: 225px;
  right : 0;
}
.slider-item-menu {
  position: relative;
  height: 600px;
}
.tour-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tour {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #ff7200;
  font-size: 60px;
  line-height: 82px;
  white-space: nowrap;
}
.slider :hover .tour{
  color: #ffffff;
}
.tour-list-item {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 24px;
  line-height: 54px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.tour-list-item-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
.new-collection {
  background-color: #e9f0fd;
  padding: 100px 0 100px 0;
}
.nc-tittle {
  font-family: 'roboto', sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  color: #515151;
  margin-bottom: 116px;
}
.nc-tittle::after {
  display: block;
  width: 165px;
  height: 7px;
  content: "";
  background: #1abc9c;
  margin: auto;
  margin-top: 32px;
}
.nc-list {
  font-size: 0;
}
.nc-list :not(:last-child) {
  margin-right: 30px;
}
.nc-item {
  display: inline-block;
  list-style: none;
  position: relative;
}
.nc-desription {
  font-family: 'roboto', sans-serif;
  font-weight: 900; 
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  width: 255px;
  height: 322px;
}
.nc-name {
  background-color: #323232;
  padding-left: 13px;
  width: 200px;
  height: 40px;
  padding-top: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nc-price {
  width: 55px;
  height: 40px;
  text-align: center;
  background-color: #8c8c8c;
  padding-top: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.overlay {
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 255px;
  height: 282px;
  z-index: 1;
}
.overlay-menu {
  position: absolute;
  top: 80px;
  left: 35px;
}
.icons {
  font-size: 0;
  width: 166px;
  height: 50px;
  margin-bottom: 5px;
}
.icons :not(:last-child) {
  margin-right: 8px;
}
.icons-item {
  display: inline-block;
}
.not-arrow {
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-color: #ffffff;
  background: transparent;
  padding: 12px;
}
.arrows {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #1abc9c;
  padding: 12px;
}
.icon-button{
  display: inline-block;
  width: 166px;
  height: 50px;
  border-width: 1px;
  border-color: #fff;
  background-color: #323232;
}
.icon-button span {
  font-family: 'open sans', sans-serif;
  font-size: 14px;
  line-height: 50px;
  text-transform: uppercase;
  color: #ffffff;
}
.icon-button img {
  display: inline-block;
  vertical-align: middle;
}
.nc-item:hover .overlay{
  background-color: rgba(0, 0, 0, 0.549);
  opacity: 1;
}
.nc-item:hover .nc-name {
  background-color: #1abc9c;
}
.nc-item:hover .nc-price {
  background-color: #1abc9c;
  filter: opacity(50%);
}
.footer {
  background-color: #323232;
  height: 88px;
  padding-top: 20px;
}
.footer-text {
  font-family: 'open sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}
.footer-text span {
  color: #1abc9c;
}
