* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 .logo {
   float: left;
   width: 110px;
 }
 .logo::first-letter {
   color: #1abc9c;
 }
.container {
  width: 1140px;
  text-transform: uppercase;
}
.navigation {
  padding-top: 35px;
}
.navigation-list {
  list-style: none;
  float: right;
}
.navigation-item {
  float: left;
  width: 90px;
  text-align: center;
}
.navigation-item-link:hover {
  color: #1abc9c;
}
.logo-link {
  font-family:n'roboto', sans-serif;
  font-weight: 300;
  color: #555252;
  font-size: 30px;
  line-height: 32px;
}
.logo-link:hover {
  color: #1abc9c;
}
.navigation-item-link {
  text-decoration: none;
  color: #0f0101;
  font-size: 14px;
  line-height: 11px;
  font-family: 'Open sans', sans-serif;
  font-weight: 700;
}
.logo-link {
  text-decoration: none;
}
.featured.products {
  text-align: center;
}
.goods-item {
  width: 285px;
  height: 322px;
  padding: 0 15px;
  float: left;
  list-style: none;
  margin-bottom: 30px;
}
.goods-item:hover .goods-item-description {
  background-color: #1abc9c;
}
.goods-item:hover .goods-item-price {
  background-color: #1abc9c;
  filter: opacity(50%);
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.goods-item-description {
  padding-left: 13px;
  width: 200px;
  height: 40px;
  float: left;
  text-align: left;
  background-color: #323232;
  color: #fff;
  padding-top: 4px;
  font-family: 'roboto', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 32px;
}
.goods-item-price {
  width: 55px;
  height: 40px;
  float: right;
  text-align: center;
  background-color: #8c8c8c;
  color: #fff;
  padding-top: 4px;
  font-family: "roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 32px;
}
.article {
  width: 380px;
  float: left;
  padding: 0 15px;
  margin-bottom: 80px;
}
.article.tittle {
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  font-family: 'Open sans', sans-serif;
  font-weight: 600;
  padding: 15px 0;
  color: #555252;
}

.article-text {
  padding: 15px 0;
  text-align: left;
  font-size: 14px;
  line-height: 26px;
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  color: #555252;
}
h2 {
  text-align: center;
  padding-top: 105px;
  font-family: "roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 32px;
  margin-bottom: 32px;
  color: #515151;
}

h2::after {
  display: block;
  width: 165px;
  height: 7px;
  content: "";
  background: #1abc9c;
  margin: 35px auto 85px;
}
button {
  width: 160px;
  height: 50px;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  background-color: #1abc9c;
  color: #ffffff;
}
body {
  width: 1170px;
  margin: auto;
}
nav {
  padding: 0 15px;
}
.article h3::after {
  display: block;
  width: 136px;
  height: 3px;
  content: "";
  background: #1abc9c;
  margin: 15px 0 15px;
}