* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 .logo {
   float: left;
 }
 .logo::first-letter {
   color: #1abc9c;
 }
.container {
  width: 1110px;
  margin: 0 auto;
}
.navigation {
  padding: 35px 15px 0 15px;
  margin-bottom: 105px;
}
.navigation-list {
  list-style: none;
  float: right;
}
.navigation-item {
  float: left;
  text-align: center;
  margin-right: 30px;
}
.navigation-item-link:hover {
  color: #1abc9c;
}
.logo-link {
  font-family:'roboto', sans-serif;
  font-weight: 300;
  color: #555252;
  font-size: 30px;
  line-height: 32px;
  text-decoration: none;
}
.logo-link:hover {
  color: #1abc9c;
}
.navigation-item-link {
  text-decoration: none;
  color: #0f0101;
  font-size: 14px;
  line-height: 11px;
  font-family: 'Open sans', sans-serif;
  font-weight: 700;
  display: block;
  padding-top: 10px;
}
.featured-products {
  text-align: center;
  margin-bottom: 105px;
}
.goods-item {
  width: 255px;
  height: 382px;
  /* не можу зрозуміти, чому висота гудс-айтема має бути 382рх */
  float: left;
  list-style: none;
}
.goods-item:not(:nth-of-type(4n)) {
  margin-right: 30px;
}
.goods-item:not(:nth-last-of-type(-n+4)) {
  margin-bottom: 30px;
}
.goods-item:hover .goods-item-description {
  background-color: #1abc9c;
}
.goods-item:hover .goods-item-price {
  background-color: #1abc9c;
  filter: opacity(50%);
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.goods-item-description {
  padding-left: 13px;
  padding-top: 4px;
  width: 200px;
  height: 40px;
  float: left;
  text-align: left;
  background-color: #323232;
  color: #fff;
  font-family: 'roboto', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 32px;
}
.goods-item-price {
  width: 55px;
  height: 40px;
  float: right;
  text-align: center;
  background-color: #8c8c8c;
  color: #fff;
  padding-top: 4px;
  font-family: "roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 32px;
}
.article {
  width: 350px;
  float: left;
}
.article:not(:nth-of-type(3n)) {
  margin-right: 30px;
}
.article-tittle {
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  font-family: 'Open sans', sans-serif;
  font-weight: 600;
  padding: 15px 0 15px;
  color: #555252;
}
.article-text {
  text-align: left;
  font-size: 14px;
  line-height: 26px;
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  color: #555252;
  margin-bottom: 20px;
}
h2 {
  text-align: center;
  font-family: "roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 32px;
  margin-bottom: 120px;
  color: #515151;
}
h2::after {
  display: block;
  width: 165px;
  height: 7px;
  content: "";
  background: #1abc9c;
  margin: auto;
  margin-top: 32px;
}
.read-more {
  text-align: center;
  display: block;
  width: 160px;
  height: 50px;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 50px;
  background-color: #1abc9c;
  color: #ffffff;
  margin-bottom: 80px;
  text-decoration: none;
}
.article h3::after {
  display: block;
  width: 136px;
  height: 3px;
  content: "";
  background: #1abc9c;
  margin: 15px 0 15px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}