@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  /* .page-header {
    background-image: url(../img/banner@2x.jpg);
  } */

  /* just for fun  */

  .photography::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    z-index: 1;
    background-image: url(../img/service/clock@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  }
  
  .web-design::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    z-index: 1;
    background-image: url(../img/service/graph@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    
  }
  
  .creativity::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    z-index: 1;
    background-image: url(../img/service/pc@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    
  }
  
  .seo::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    z-index: 1;
    background-image: url(../img/service/book@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    
  }
  
  .css::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    z-index: 1;
    background-image: url(../img/service/home@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    
  }
  
  .digital::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    z-index: 1;
    background-image: url(../img/service/image@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    
  }
  
}