$main-font:  'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$curved-font: 'Kaushan Script', cursive;
$header-text-color: #ffffff;
$tittle-underline-color: #f38181;
$text-hover-color: #fce38a;
$main-text-color: #333333;
$secondary-text-color: #999999;
$footer-staff-color: #e5e5e5;
